DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
DATABASE_URL=
SERVICE_TICKETS_CHANNEL_ID=
TRANSCRIPTS_CHANNEL_ID=
VERIFIED_PROVIDER_ROLE_ID=
STAFF_ROLE_ID=
BUILDERS_FORUM_ID=
DEVELOPERS_FORUM_ID=
ARTISTS_FORUM_ID=
EDITORS_FORUM_ID=
